* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    cursor: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#cursor {
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    background-color: yellow;
}

#cursor-b {
    height: 120px;
    width: 120px;
    background-color: #d8ff62fc;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    filter: blur(70px);

}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}



.sections #types {
    display: flex;
    padding: 50px;
    gap: 5vw;

    
}


.sections #types a:nth-last-child(1) {

    position: relative;
    padding: 7px 28px;
    text-decoration: none;
    color: black;
    cursor: none;
    border: 2px solid black;
    border-radius: 50px;
    overflow: hidden;
}

.sections #types a:nth-last-child(1) #lines {
    background-color: yellow;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: -100%;

    transition: left 1s ease;

}

.sections #types a:nth-last-child(1):hover #lines {
    left: 0;
    display: block;

}

.sections #types a:nth-last-child(1) h5 {
    z-index: 99;
    position: relative;
    font-weight: 6900;
    color: rgb(0, 0, 0);
    font-family: cursive;
}

.sections #types a:nth-last-child(2) {
    text-decoration: none;
    color: black;
    padding: 7px 28px;
    position: relative;
    overflow: hidden;
}

.sections #types a:nth-last-child(2) #lines {
    height: 100%;
    width: 100%;

    top: 0%;
    position: absolute;
    left: -100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

    transition: left 1s ease;
}

.sections #types a:nth-last-child(2):hover #lines {
    left: 0;
    display: block;
}

.sections #types a:nth-last-child(2) h5 {
    z-index: 99;
    position: relative;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: cursive;
}

.sections #types a:nth-last-child(3) {
    text-decoration: none;
    color: black;
    padding: 7px 28px;
    position: relative;
    overflow: hidden;
}

.sections #types a:nth-last-child(3) #lines {
    height: 100%;
    width: 100%;

    top: 0%;
    position: absolute;
    left: -100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

    transition: left 1s ease;
}

.sections #types a:nth-last-child(3):hover #lines {
    left: 0;
    display: block;
}

.sections #types a:nth-last-child(3) h5 {
    z-index: 99;
    position: relative;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: cursive;
}

.sections #types a:nth-last-child(4) {
    text-decoration: none;
    color: black;
    padding: 7px 28px;
    position: relative;
    overflow: hidden;
}

.sections #types a:nth-last-child(4) #lines {
    height: 100%;
    width: 100%;

    top: 0%;
    position: absolute;
    left: -100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

    transition: left 1s ease;
}

.sections #types a:nth-last-child(4):hover #lines {
    left: 0;
    display: block;
}

.sections #types a:nth-last-child(4) h5 {
    z-index: 99;
    position: relative;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: cursive;
 
}
.sections #types a:nth-last-child(5) {
    text-decoration: none;
    color: black;
    padding: 7px 28px;
    position: relative;
    overflow: hidden;
}

.sections #types a:nth-last-child(5) #lines {
    height: 100%;
    width: 100%;

    top: 0%;
    position: absolute;
    left: -100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

    transition: left 1s ease;
}

.sections #types a:nth-last-child(5):hover #lines {
    left: 0;
    display: block;
}

.sections #types a:nth-last-child(5) h5 {
    z-index: 99;
    position: relative;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: cursive;
 
}
.sections #types a:nth-last-child(6) {
    text-decoration: none;
    color: black;
    padding: 7px 28px;
    position: relative;
    overflow: hidden;
}

.sections #types a:nth-last-child(6) #lines {
    height: 100%;
    width: 100%;

    top: 0%;
    position: absolute;
    left: -100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

    transition: left 1s ease;
}

.sections #types a:nth-last-child(6):hover #lines {
    left: 0;
    display: block;
}

.sections #types a:nth-last-child(6) h5 {
    z-index: 99;
    position: relative;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: cursive;
 
}

.sections i {
    position: relative;
    display: none;

}

@media (max-width:700px) {
    .sections i {
        display: block;
        height: 20px;
        width: 30px;
        padding: 0 30px;
    }

    .types {
        display: none;
    }

    .logo img {
        height: 2vw;
        width: 2vh;
        top: 0;
    }

}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left {

    width: 50%;
    height: 100%;
}

.left h4 {
    position: absolute;
    line-height: 1;
    width: 18vw;
    font-size: 15px;
    font-family: Berkshire Swash;
    top: 7%;
    left: 60px;
    font-weight: 550;
    z-index: 1;
    transform: rotate(-10deg);
}

.left img {
    position: relative;
    padding: 20px 150px;
    width: 100%;
    height: 80%;
    top: 6vw;
    mix-blend-mode: multiply;
}



.logo img {
    position: relative;
    height: 75px;
    width: 250px;
    left: 6vw;
}

.right {
    position: relative;
    height: 40vw;
    width: 45vw;

    top: 0;
}

.introduction {
    padding: 100px 50px;
}

.right h1 {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    font-family: Cinzel Decorative;
    padding-top: 10%;
}

.right h3 {
    padding: 40px 0;
    font-family: Charm;

}

.right .moving {
    transform: rotate(-10deg);
    top: 0;
}

.right h4 {

    transform: rotate(-5deg);
    font-family: cursive;
    transition: transform 3s cubic-bezier(0.18, 0.04, 0, 1.71);
    width: 300px;
    transform: translateX(100%);
    animation: left-to-right 5s cubic-bezier(0.34, 0.33, 0.03, 1.57) forwards infinite alternate;
}


@keyframes left-to-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100);
    }
}

.content2 {

    background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;

}

.content2 .lefthand {

    height: 100%;
    width: 50%;
}

.content2 .righthand {

    display: flex;
    justify-content: center;

    height: 100%;
    width: 50%;
}

.content2 .righthand i {
    height: 20%;
    width: 20%;

}

.ri-graduation-cap-line {
    display: block;
    position: relative;
    top: 5%;

    font-size: 175px;

}

.content2 .righthand .text {
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: center;
}

.content2 .righthand h1 {
    font-family: cursive;
    font-weight: 100;
}

.content2 .lefthand li {
    display: flex;
    justify-content: space-evenly;
    margin: 150px 50px;
    font-family: cursive;
    box-shadow: 10px 9px 8px 0 #90a312fc, 0 6px 20px 0 rgba(71, 8, 131, 0.967);

    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 100;
    transition: 1s;
}

.content2 .lefthand li:hover {
    transform: scale(1.1);
    box-shadow: 10px 9px 8px 0 #7700fffc, 0 6px 20px 0 rgba(71, 8, 131, 0.967);
}





.content3 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-top: 1px solid rgb(0, 0, 0);
    height: 70vh;
    width: 100vw;
    display: flex;
    background-color: yellow;
}

.content3 h1 {
    position: relative;
    font-family: 'Cinzel Decorative';

    top: 50px;

}


#one {

    position: relative;
    font-family: Charm;
    font-size: 30px;
    width: 100vw;
    top: 5vw;
    left: 20%;
    font-weight: 900;
}

.content3 i {
    position: relative;
    left: 5%;
    font-size: 90px;

    top: 30px;
}

#two {
    margin-top: 100px;
    position: relative;
    font-family: Charm;
    left: 2vw;
    font-size: 30px;
    top: 80px;
    font-weight: 900;
}

.content4 {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.content4 h1 {
    position: relative;
    top: 100px;
    font-family: cursive;

}

.content4 ul {
    position: relative;
    display: flex;
    list-style: none;
    top: 200px;
    transform: 1s;
}

.content4 ul i {
    position: relative;
    font-size: 70px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 8px 0 #5b1ba4fc, 0 6px 20px 0 rgba(8, 119, 255, 0.967);
    border-radius: 2px;
    transition: width 1s, height 1s, transform 1s;

}

.content4 ul i:hover {

    transform: scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.989), 0 6px 20px 0 rgba(255, 251, 8, 0.967);
}

.content4 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content4 ul li span {
    position: relative;
    font-family: cursive;
    font-size: 25px;
    font-weight: 80;
    color: rgb(0, 0, 0);
    padding-top: 10%;
}

.heading {
    background-color: black;
    color: white;
    position: relative;
    padding-top: 5%;
}

.content5 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 150vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);

}

.content5 .sections {
    flex-wrap: wrap;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 50px;
    margin-left: 80px;
}
.content5 .sections a{
    text-decoration: none;
    color: black;
}

.content5 .sections #box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40%;
    width: 300px;
    background-color: hsl(0, 0%, 100%, .80);
    border-radius: 5px;
    transition: 1s;

    box-shadow: 0 4px 8px 0 rgba(234, 255, 1, 0.989), 0 6px 20px 0 rgba(255, 251, 8, 0.967);
}

.content5 .sections #box .innerbox {

    position: relative;
    height: 60%;
    width: 250px;
    background-color: hsl(60, 100%, 50%, .75);
    top: 5%;
    padding: 0 10px;
}

.content5 .sections #box  img {
    height: 20%;
    top: 0%;
}
.content5 .sections #box .innerbox h2{
    font-weight: 100;
    font-family: cursive;
}
.content5 .sections #box .innerbox h5{
    font-family: monospace;
    font-size: 15px;

}

.content5 .sections #box:hover {

    transform: scale(1.1);
    z-index: 2;
    background-color: hsl(0, 0%, 100%);
}
.content6{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.content6 h1 {
    position: relative;
    top: 100px;
    font-family: cursive;

}

.content6 ul {
    position: relative;
    display: flex;
    list-style: none;
    top: 200px;
    transform: 1s;
}

.content6 ul img {
    position: relative;
    height: 40px;
    mix-blend-mode: multiply;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 8px 0 #5b1ba4fc, 0 6px 20px 0 rgba(8, 119, 255, 0.967);
    border-radius: 2px;
    transition: width 1s, height 1s, transform 1s;

}

.content6 ul img:hover {

    transform: scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.989), 0 6px 20px 0 rgba(255, 251, 8, 0.967);
}

.content6 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content6 ul li span {
    position: relative;
    font-family: cursive;
    font-size: 25px;
    font-weight: 80;
    color: rgb(0, 0, 0);
    padding-top: 10%;
}